/Clases/ConceptosBasicos/nbproject/private/
diagramaBD.img
/Clases/Libro/nbproject/private/
/Tareas/Libro/nbproject/private/
/Tareas/TareaLibro/nbproject/private/
/Tareas/TareaLibro/build/
/Clases/ConceptosBasicos/build/
/Clases/ReutilizacionCodigo2209/nbproject/private/
/Clases/ReutilizacionCodigo2209/build/
/Clases/ReutilizacionCodigo2209/dist/
/Tareas/Composicion/nbproject/private/
/Tareas/Composicion/build/
/Tareas/JavaBasico2209/nbproject/private/
/Clases/JavaBasico2209/nbproject/private/
/Clases/JavaBasico2209/build/
